[Desktop Entry]
Version=1.0
Name=JP Notas Adesivas
Name[pt_BR]=JP Notas Adesivas
Comment=Tome nota!!!
Comment[pt_BR]=Tome nota!!!
GenericName=Notas Adesivas
GenericName[pt_BR]=Notas Adesivas
Keywords=Nota;Agenda;Esquecer;Anotações;Anotação;Adesiva;Horário;note;
Keywords[pt_BR]=Nota;Agenda;Esquecer;Anotações;Anotação;Adesiva;Horário;lembrete;lembrar;
Exec=notas-adesivas
Terminal=false
Type=Application
Icon=/usr/share/notas-adesivas/notas-adesivas.ico
Categories=GNOME;GTK;Utility;Application;
